# 服务器
HOST=0.0.0.0
PORT=60000

# 模型 ModelScope
# iic/speech_zipenhancer_ans_multiloss_16k_base   (ZipEnhancer, 轻量)
# iic/speech_frcrn_ans_cirm_16k                   (FRCRN, 实时降噪)
# iic/speech_mossformer2_ans_48k                  (MossFormer2, 高质量)

# 模型 Pytorch
DENOISE_MODEL=iic/speech_zipenhancer_ans_multiloss_16k_base

# 日志
LOG_LEVEL=INFO
LOG_MAX_BYTES=10485760
LOG_BACKUP_COUNT=30
